<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../public/assets/img/bread-3035491_1920.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                    <h1>Hungry??? Pick a burger!! </h1>
            </div>
        </div>
        <div class="carousel-item">
                <img src="../public/assets/img/burger-1835192_1920.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h1>Hungry??? Pick a burger!! </h1>
                </div>
        </div>
        <div class="carousel-item">
                <img src="../public/assets/img/hamburger-494706_1920.jpg" class="d-block w-100" alt="...">
                 <div class="carousel-caption">
                    <h1>Hungry??? Pick a burger!! </h1>
                </div>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="col-md-3" id="notDevoured">
    {{#each burgers}}
        {{#unless devoured}} 
        <button class="devour-burger" data-id="{{this.id}}">Devour</button>
        {{/unless}}
    {{/each}}   
</div>
    <div class="col-md-3" id="notDevoured">
    <ul class="list-group">
    {{#each burgers}}
        {{#if devoured}} 
        <li class="list-group-item">{{this.burger_name}}</li>
              <button data-id="{{this.id}}" class="update">Devour</button>
        </li>
        {{/if}}
    {{/each}}  
    </ul> 
    </div>
</div>


<div class="col-md-12">
    <h2>Add a Burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="burger">Which burger do you want to add?</label>
                </br>
                <textarea class="form-control-lg" id="name" rows="1"></textarea>
            </div>
       
            <button type="submit">Add Burger</button>

        </form>
</div>
</div>
